<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxVcL8FrlhnBfgwA48VXPhFGwku31QE0g</string>
	<key>GCM_SENDER_ID</key>
	<string>841792367578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileFrontend</string>
	<key>PROJECT_ID</key>
	<string>photobook-49cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>photobook-49cc3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841792367578:ios:f7c9b3483d8eae0eef2ee3</string>
</dict>
</plist>